@model IEnumerable<MVC.Model.Supplier>

@{
    ViewData["Title"] = "Slist";
}

<h1>Slist</h1>

<p>
    <a asp-action="Createsup">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="SuppEdit" asp-route-id="@item.Sid">Edit</a> |
                <a asp-action="SuppDetails" asp-route-id="@item.Sid">Details</a> |
                <a asp-action="SuppDelete" asp-route-id="@item.Sid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
